WEEK-6/IBMflows.json
[{"id":"7881863a.1449d8","type":"tab","label":"NR2PI","disabled":false,"info":""},{"id":"4b11c1f2.8e1e4","type":"ibmiot in","z":"7881863a.1449d8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb000c299b9692","applicationId":"","deviceType":"senseHat","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":370,"y":20,"wires":[["659e33ef.e8997c","cae09a10.dbd898","1070bd72.ddf2b3","d2c31aa1.c0f0b8"]]},{"id":"659e33ef.e8997c","type":"debug","z":"7881863a.1449d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":360,"wires":[]},{"id":"5d9830e6.d2131","type":"inject","z":"7881863a.1449d8","name":"Normal","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":420,"y":440,"wires":[["53cd0453.f5e65c"]]},{"id":"27f1d040.c7ac7","type":"inject","z":"7881863a.1449d8","name":"Alert","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":420,"y":540,"wires":[["53cd0453.f5e65c"]]},{"id":"53cd0453.f5e65c","type":"function","z":"7881863a.1449d8","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":500,"wires":[["8cecc1f2.13726"]]},{"id":"8cecc1f2.13726","type":"json","z":"7881863a.1449d8","name":"","property":"payload","action":"","pretty":false,"x":870,"y":500,"wires":[[]]},{"id":"f84e404e.e7867","type":"ibmiot out","z":"7881863a.1449d8","d":true,"authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"000c29685d4a","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":1040,"y":500,"wires":[]},{"id":"7a44c21e.52aecc","type":"ui_button","z":"7881863a.1449d8","name":"","group":"6da30d93.e2d5c4","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":650,"y":420,"wires":[[]]},{"id":"d2c31aa1.c0f0b8","type":"function","z":"7881863a.1449d8","name":"Tekanan","func":"msg.payload = msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["ad809a3c.ac4a98"]]},{"id":"1070bd72.ddf2b3","type":"function","z":"7881863a.1449d8","name":"Kelembapan","func":"msg.payload = msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":180,"wires":[["2c9314f3.6c9a2c"]]},{"id":"cae09a10.dbd898","type":"function","z":"7881863a.1449d8","name":"Suhu","func":"msg.payload = msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":100,"wires":[["9f3f328b.bfb1f"]]},{"id":"9f3f328b.bfb1f","type":"ui_gauge","z":"7881863a.1449d8","name":"suhu","group":"6da30d93.e2d5c4","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":100,"wires":[]},{"id":"2c9314f3.6c9a2c","type":"ui_gauge","z":"7881863a.1449d8","name":"kelembapan","group":"6da30d93.e2d5c4","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":180,"wires":[]},{"id":"ad809a3c.ac4a98","type":"ui_gauge","z":"7881863a.1449d8","name":"tekanan","group":"6da30d93.e2d5c4","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":300,"wires":[]},{"id":"6da30d93.e2d5c4","type":"ui_group","z":"","name":"Default","tab":"d928a0ca.f644c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d928a0ca.f644c","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]