WEEK-6/PIflows.json
[{"id":"ea62710c.ff25","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed5dcb78.79e0b8","type":"wiotp-credentials","z":"","name":"","org":"urjz5w","serverName":"","devType":"raspberrypiGW","devId":"000c299b9692","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"3a35cf95.5da5b","type":"wiotp out","z":"ea62710c.ff25","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"ed5dcb78.79e0b8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"IoT","x":190,"y":300,"wires":[]},{"id":"c5f09772.fb7978","type":"rpi-sensehatsim in","z":"ea62710c.ff25","name":"","motion":false,"env":true,"stick":false,"x":80,"y":80,"wires":[["d438bf36.6633d"]]},{"id":"d438bf36.6633d","type":"delay","z":"ea62710c.ff25","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":160,"wires":[["3450f303.b66b3c"]]},{"id":"3450f303.b66b3c","type":"function","z":"ea62710c.ff25","name":"","func":"msg.payload = {\"Data\" : {\"Environment\":msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb000c299b9692\";\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":240,"wires":[["3a35cf95.5da5b"]]}]